<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Company Fiancials</title>
   </head>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <h1>Enter Ticker</h1>
      <form action='/companyFinancialsResult/' method="post">
          <p>Ticker  <input type = "text" name = "symbol" placeholder="Enter symbol"></p>
          <p><input type = "submit" value = "Statements" ></p>
      </form>
      {% endblock %}
   </body>
</html>
