<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Company Financials Comparison</title>
</head>
<style>

* {

  box-sizing: border-box;

}

.row {

  margin-left:-5px;

  margin-right:-5px;

}
.column {

  float: left;

  width: 25%;

  padding: 5px;

}
/* Clearfix (clear floats) */

.row::after {

  content: "";

  clear: both;

  display: table;

}
table {

  border-collapse: collapse;

  border-spacing: 0;

  width: 50%;

  border: 1px solid #ddd;

}
th, td {

  text-align: center;

}
tr:nth-child(even) {

  background-color: #f2f2f2;

}

</style>
<body>
  {% extends "index.html" %}
  {% block content %}
  <h1 style="text-align:left">Company Financials</h1>
  <p></p>

  <!-- Income Statement -->
  <h2 style="text-align:left">Income Statement</h2>
  {% for x in ["Revenue","Revenue Growth","Gross Profit","Operating Income","Pretax Income","Net Income","Shares Outstanding (Basic)","EPS (Basic)","Free Cash Flow Per Share","EBITDA","EBITDA Margin","EBIT","EBIT Margin"] %}
    <h2 style="text-align:left; font-size: 1.5em; color: DodgerBlue"> {{x}} </h2>
    {% for y in stockStatements %}
        {{y}}
        {{stockStatements[y]["incomeStatement"].loc[[x]].to_html() | safe }}
        <p></p>
    {% endfor %}
  {% endfor %}

  <!-- Balance Sheet -->
  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">
  <h2 style="text-align:left">Balance Sheet</h2>
  {% for x in ["Cash & Cash Equivalents","Total Assets","Total Liabilities","Total Debt","Total Liabilities and Equity","Book Value Per Share"] %}
    <h2 style="text-align:left; font-size: 1.5em; color: DodgerBlue"> {{x}} </h2>
    {% for y in stockStatements %}
        {{y}}
        {{stockStatements[y]["balanceSheet"].loc[[x]].to_html() | safe }}
        <p></p>
    {% endfor %}
  {% endfor %}

  <!-- Cash Flow Statement -->
  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">
  <h2 style="text-align:left">Cash Flow Statement</h2>
  {% for x in ["Operating Cash Flow","Investing Cash Flow","Financing Cash Flow","Net Cash Flow",] %}
    <h2 style="text-align:left; font-size: 1.5em; color: DodgerBlue"> {{x}} </h2>
    {% for y in stockStatements %}
        {{y}}
        {{stockStatements[y]["cashFlowStatement"].loc[[x]].to_html() | safe }}
        <p></p>
    {% endfor %}
  {% endfor %}

  <!-- Company Ratios -->
  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">
  <h2 style="text-align:left">Company Ratios</h2>
  {% for x in stockStatements %}
    <h2 style="text-align:left; font-size: 1.5em; color: DodgerBlue"> {{x}} </h2>
    {{stockStatements[x]["companyRatios"].to_html() | safe }}
    <p></p>
  {% endfor %}
  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">
  {% endblock %}
</body>
</html>
