<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ETF Analysis</title>
</head>
<style>

* {

  box-sizing: border-box;

}

.row {

  margin-left:-5px;

  margin-right:-5px;

}
.column {

  float: left;

  width: 25%;

  padding: 5px;

}
/* Clearfix (clear floats) */

.row::after {

  content: "";

  clear: both;

  display: table;

}
table {

  border-collapse: collapse;

  border-spacing: 0;

  width: 50%;

  border: 1px solid #ddd;

}
th, td {

  text-align: center;

}
tr:nth-child(even) {

  background-color: #f2f2f2;

}

</style>
<body>
  {% extends "index.html" %}
  {% block content %}
  {{ super() }}
  <h1>ETF Details</h1>


  <h2><p>Closing Price and Percent Change</p></h2>
  {%for ticker in allETFs%}
    <li>{{ticker}} closing price is  ${{allETFs[ticker].close}}</li>
    {% if allETFs[ticker].dailyPercentChange > 0 %}
      <li>{{ticker}} closed {{allETFs[ticker].dailyPercentChange}}% higher today</li>
    {% else %}
      <li>{{ticker}} closed {{allETFs[ticker].dailyPercentChange}}% lower today</li>
    {% endif %}
    <p></p>
    <p></p>
  {%endfor%}

  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

  <h2><p>SMA Indicators</p></h2>
  {% for etf in etfSMA %}
    {% for day in etfSMA[etf] %}
      <li> {{etfSMA[etf][day]}} </li>
    {% endfor %}
    <p></p>
    <p></p>
  {% endfor %}

  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

  {% for ticker in etfTA %}
  <h1>Technical Analysis {{ticker}}</h1>
    {% for metric in etfTA[ticker] %}
      <h2>{{etfTA[ticker][metric][1].index.name}}</h2>
      <p>{{etfTA[ticker][metric][0]}}</p>
      {{etfTA[ticker][metric][1].to_html() | center | safe }}
      <p></p>
    {%endfor%}
  {% endfor %}

  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

  {% for ticker in etfTASignals %}
    <h1>Technical Signals {{ticker}}</h1>
    {% for signal in etfTASignals[ticker] %}
      <p>{{etfTASignals[ticker][signal].to_html() | safe}}</p>
      <p></p>
    {%endfor%}
  {% endfor %}
  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

  {% for etf in etfTopTenHoldings %}
    <div style="padding:10px; display:inline-block;">
    <h1 style="text-align:left">Top 10 Holdings Day Movement in {{etf}}</h1>
    {% for x in etfTopTenHoldings[etf] %}
      <p style="padding: 0px;color:limegreen"; >{{x}}</p>
      <p style="padding: 0px" >{{etfTopTenHoldings[etf][x].to_html() | safe }}
      <p></p>
    {%endfor%}
    </div>
  {% endfor %}


  <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

  <div class="row">
    {% for x in etfHoldings %}
      <div style="padding: 25px" class="column">
        <h1 style="text-align:left">ETF Holdings for {{x}}</h1>
        <table>
          <tr>
            <th>Ticker</th>
            <th>Weight %</th>
          </tr>
          {% for m in etfHoldings[x] %}
          <tr>
            <td>{{m}}</td>
            <td>{{etfHoldings[x][m]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    {%endfor%}
  </div>
  {% endblock %}
</body>
</html>
