<!-- Here we use bootstrap extension for our navigation Bar -->
{% extends "bootstrap/base.html" %}

<!----------------------------------------------------------------->
<!------------------      Nav bar start  -------------------------->
<!----------------------------------------------------------------->
{% block navbar %}
{{nav.top.render()}}
{% endblock %}
<!----------------------------------------------------------------->
<!------------------      Nav bar end    -------------------------->
<!----------------------------------------------------------------->
<!----------------------------------------------------------------->
<!------------------      Body start     -------------------------->
<!----------------------------------------------------------------->
{% block content %}
<style>
    h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color:blue;
    padding-left: 5px;
    text-decoration: underline
        }
    h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color:firebrick;
    padding-left: 5px;
    text-decoration: underline
        }
    p {
    padding: 5px;
    }
    /* li {
    padding: 5px;
    } */
</style>
{% endblock %}
<!----------------------------------------------------------------->
<!------------------      Body end       -------------------------->
<!----------------------------------------------------------------->