<!-- <script>
  function add_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    total_text=total_text.length+1;
    field_div = document.getElementById("field_div");
    new_input = "<li id='input_text"+total_text+
    "_wrapper'><input type='text' class='input_text' name='input_text[]' id='input_text"+
    total_text+"' placeholder='Enter Text'></li>";
    field_div.insertAdjacentHTML('beforeend',new_input);
  }
  function remove_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    document.getElementById("input_text"+total_text.length+"_wrapper").remove();
  }
</script> -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Enter Market Ticker</title>
   </head>
   <body>
      {% extends "index.html" %}
      {% block content %}
      {{ super() }}
      <h1>Enter one or more market symbols</h1>
      <form action="/marketData/" method = "POST">
        <!-- <p>Ticker <input type = "text" name = "symbol" placeholder="Enter symbol"></p> -->
        <p><input type = "submit" name="symbol" value = "S&P500" ></p>
      </form>
      <!-- <h1>Enter one of more market symbols</h1>
      <form action='/marketData/' method="post">
        <div id="wrapper">
          <input type="button" value="Enter Symbol" onclick="add_field();">
          <input type="button" value="Remove Symbol" onclick="remove_field();">
          <ol id="field_div">
          </ol>
        </div>
          <input type='submit' value='ROCKET'>
      </form> -->
      {% endblock %}
   </body>
</html>
