<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">S&amp;P 500 Index Sectors</th>
<th title="Field #2">Current Sector Weight</th>
<th title="Field #3">Vanguard Sector ETF</th>
<th title="Field #4">SPDR Sector ETF</th>
</tr></thead>
<tbody><tr>
<td>Information Technology</td>
<td>27.6%</td>
<td>VGT</td>
<td>XLK</td>
</tr>
<tr>
<td>Health Care</td>
<td>13.5%</td>
<td>VHT</td>
<td>XLV</td>
</tr>
<tr>
<td>Consumer Discretionary</td>
<td>12.7%</td>
<td>VCR</td>
<td>XLY</td>
</tr>
<tr>
<td>Communication Services</td>
<td>10.8%</td>
<td>VOX</td>
<td>XLC</td>
</tr>
<tr>
<td>Financials</td>
<td>10.4%</td>
<td>VFH</td>
<td>XLF</td>
</tr>
<tr>
<td>Industrials</td>
<td>8.4%</td>
<td>VIS</td>
<td>XLI</td>
</tr>
<tr>
<td>Consumer Staples</td>
<td>6.5%</td>
<td>VDC</td>
<td>XLP</td>
</tr>
<tr>
<td>Utilities</td>
<td>2.8%</td>
<td>VPU</td>
<td>XLU</td>
</tr>
<tr>
<td>Materials</td>
<td>2.6%</td>
<td>VAW</td>
<td>XLB</td>
</tr>
<tr>
<td>Real Estate</td>
<td>2.4%</td>
<td>VNQ</td>
<td>XLRE</td>
</tr>
<tr>
<td>Energy</td>
<td>2.3%</td>
<td>VDE</td>
<td>XLE</td>
</tr>
</tbody></table>
