<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Stock Results</title>
   </head>

<style>

  * {
  
    box-sizing: border-box;
  
  }
  
  .row {
  
    margin-left:-5px;
  
    margin-right:-5px;
  
  }
  .column {
  
    float: left;
  
    width: 25%;
  
    padding: 5px;
  
  }
  /* Clearfix (clear floats) */
  
  .row::after {
  
    content: "";
  
    clear: both;
  
    display: table;
  
  }
  table {
  
    border-collapse: collapse;
  
    border-spacing: 0;
  
    width: 50%;
  
    border: 1px solid #ddd;
  
  }
  th, td {
  
    text-align: center;
  
  }
  tr:nth-child(even) {
  
    background-color: #f2f2f2;
  
  }
  
</style>
  
   <body>
      {% extends "index.html" %}
      {% block content %}
      {{ super() }}
      <h1>Stock Results</h1>
      {%for ticker in allStocks%}
        <li>{{ticker}} closing price is  ${{allStocks[ticker].close}}</li>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>DCF Analysis</p></h1>
      {%for ticker in dcf%}
        <li>{{ticker}}: {{dcf[ticker]}}</li>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>DCFTool Analysis</p></h1>
      {%for ticker in dcfTool%}
        <li>{{dcfTool[ticker].to_html() | safe  }}</li>
        <p></p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>Daily Percent Change</p></h1>
      {% for ticker in allStocks %}
        {% if allStocks[ticker].dailyPercentChange > 0 %}
          <li>{{ticker}} closed {{allStocks[ticker].dailyPercentChange}}% higher today</li>
        {% else %}
          <li>{{ticker}} closed {{allStocks[ticker].dailyPercentChange}}% lower today</li>
        {% endif %}
      {% endfor %}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>Historical Percent Change</p></h1>
      {%for ticker in percentChange%}
        <li><u><b>{{ticker}}</b></u></li>
        {%for x in percentChange[ticker] %}
          <li>{{x}} Day percent change is {{percentChange[ticker][x]}}</li>
        {%endfor%}
        <p></p>
        <p></p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>52 Week High Low Deviation</p></h1>
      {%for ticker in fiftyTwoWeekHighLowChange%}
          <li><u><b>{{ticker}}</b></u></li>
        {%for x in fiftyTwoWeekHighLowChange[ticker] %}
          <li>{{x}}</li>
        {%endfor%}
        <p></p>
        <p></p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">


      <h1><p>EMA Indicators</p></h1>
      {%for ticker in ema%}
        <li><u><b>{{ticker}}</b></u></li>
        {% for x in ema[ticker] %}
          <li>EMA{{x}} : {{ema[ticker][x]}}</li>
        {%endfor%}
        <p></p>
        <p></p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>SMA Indicators</p></h1>
      {%for ticker in smaDeviation%}
        <li><u><b>{{ticker}}</b></u></li>
        {% for x in smaDeviation[ticker] %}
          <li>{{smaDeviation[ticker][x]}}</li>
        {%endfor%}
        <p></p>
        <p></p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      {% for ticker in tickerTA %}
        <h1><p>Technical Analysis {{ticker}}</p></h1>
        {% for metric in tickerTA[ticker] %}
          <h2>{{tickerTA[ticker][metric][1].index.name}}</h2>
          <p>{{tickerTA[ticker][metric][0]}}</p>
          {{tickerTA[ticker][metric][1].to_html() | safe }}
          <p></p>
        {%endfor%}
      {% endfor %}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      
      {% for ticker in tickerTASignals %}
        <h1><p>Technical Signals {{ticker}}</p></h1>
        {% for signal in tickerTASignals[ticker] %}
          <p>{{tickerTASignals[ticker][signal].to_html() | safe}}</p>
          <p></p>
        {%endfor%}
      {% endfor %}

    <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>ETF Exposure</p></h1>
      {% for ticker in stockETF %}
        {% if not stockETF[ticker].empty %}
          <p> {{ stockETF[ticker].to_html() | safe }}
          <p></p>
        {% else %}
          <p> NONE </p>
          <p></p>
        {% endif %}
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>Major Stock Ownership</p></h1>
      {% for activity in stockMajorOwnership %}
            <p>{{stockMajorOwnership[activity].to_html() | safe}} </p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>Recent Portfolio Manager Activity</p></h1>
      {% for activity in stockPortfolioManagerActivity %}
            <p>{{stockPortfolioManagerActivity[activity].to_html() | safe}} </p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">

      <h1><p>Recent SEC Filings</p></h1>
      {% for ticker in stockSECFilings %}
        {% if stockSECFilings[ticker] is string %}
          <p>{{stockSECFilings[ticker]}}. <a href="https://whalewisdom.com/stock/{{ticker}}"> Click here for more information!</a></p>
        {% else %}
          <p>{{stockSECFilings[ticker].to_html() | safe}}</p>
        {% endif %}
        <p></p>
      {%endfor%}

      <hr style="border: 3px dotted #0099CC" color="#000000" size="4">


      {% endblock %}
   </body>
</html>
