<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Enter Ticker</title>
   </head>
   <body>
      {% extends "index.html" %}
      {% block content %}
      {{super()}}
      <h1>Select Stock Sector</h1>
      <form action="/stockTrendData/" method = "POST">
        <p><input type = "submit" name= "stocks" value = "Basic Materials" ></p>
        <p><input type = "submit" name= "stocks" value = "Communication Services"></p>
        <p><input type = "submit" name= "stocks" value = "Consumer Cyclical"></p>
        <p><input type = "submit" name= "stocks" value = "Consumer Defensive"></p>
        <p><input type = "submit" name= "stocks" value = "Energy"></p>
        <p><input type = "submit" name= "stocks" value = "Financial"></p>
        <p><input type = "submit" name= "stocks" value = "Health Care"></p>
        <p><input type = "submit" name= "stocks" value = "Industrials"></p>
        <p><input type = "submit" name= "stocks" value = "Real Estate"></p>
        <p><input type = "submit" name= "stocks" value = "Technology"></p>
        <p><input type = "submit" name= "stocks" value = "Utilities"></p>
        <hr style="border: 3px dotted #0099CC" color="#000000" size="4">
        <p><input type = "submit" name= "stocks" value = "Vanguard ETFs"></p>
        <p><input type = "submit" name= "stocks" value = "S&P500 Top 10"></p>
        <p><input type = "submit" name= "stocks" value = "S&P500 Top 10-20"></p>
        <p><input type = "submit" name= "stocks" value = "S&P500 Top 20-30"></p>
        <p><input type = "submit" name= "stocks" value = "S&P500 Top 30-40"></p>
        <p><input type = "submit" name= "stocks" value = "S&P500 Top 40-50"></p>
      </form>
      {% endblock %}
   </body>
</html>